.Navbar {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #dbdbdb;
  background: #fff;
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  font-size: 24px;
}
